
@media (max-width: 1200px) and (min-width: 720px) {

    header          {font-size: 16px;}

    .fixed-menu     {width: 90%;
                    max-width: 700px;}

    .header-logo    {background-size: 100% 100%;
                    width: 200px;}

    .setka          {grid-template-columns: 1fr 1fr; 
                    width: 80%;
                    padding-bottom: 30px;
                    padding-top: 30px;}  
            
    .main-second h2 {padding-top: 50px;}

    .second-setka   {grid-template-columns: 1fr 1fr 1fr 1fr;
                    font-size: 16px;}

    .collectors     {width: 70%;
                    flex-wrap: wrap;
                    flex-direction: row;}
    .collectors  h3 {text-align:center;}          
    

    .collectors div {font-size: 16px;}               

    .footer-links   {flex-wrap: wrap;}

}

@media screen and (max-device-width: 719px){
    h2                  {font-size: 40px;}
    h3                  {font-size: 35px;}
    p                   {font-size: 30px;}
    header              {font-size: 30px;
                        width: 100%;}
    .fixed-menu         {min-width: 100%;
                        min-height: 100px;}
    .header-logo        {margin-left: 30px;}
    .header-inform      {min-height: 100px;}
    .header-telephone   {padding-right: 30px;}
    .landing-block      {width: 80%;
                        margin: auto;
                        font-size: 40px;}
    .landing-list div   {font-size: 25px;}
    .landing-buttons    {justify-content: space-around;}
    .landing-buttons a  {font-size: 25px;}
    .main-second        {font-size: 35px;}
    .main-second h2     {width: 75%;}
    .setka              {grid-template-columns: 1fr;
                        text-align: center;
                        width: 90%;}
    .setka h3           {font-size: 35px;}
    .setka p            {font-size: 30px;}
    .setka div:before   {left: 45%;
                        background-position: center;}
    .collectors div     {background-color: rgba(199, 199, 199, 1);
    }                
    .collectors         {text-align: center;
                        width: 90%;}
    .footer-links a,
    .buttons-angry a    {font-size: 30px;
                        margin: 10px;}
    .social             {transform: scale(1.2);
                        padding: 30px;}
    .license            {font-size: 24px;}
}